<div class="form-row">
  <button type="button" class="btn btn-primary m-3"><fa name="plus-circle"></fa>Add Product</button>
</div>
<div class="form-row">
  <table class="table table-bordered table-striped resp-table">
      <thead class=thead-inverse>
          <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total Price</th>
              <th class="text-center"> Remove</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td data-title="Product Name">Coke</td>
              <td data-title="Quantity">5</td>
              <td data-title="Unit Price">$1.25</td>
              <td data-title="Total Price">$5.25</td>
              <td class="text-lg-center text-md-center" data-title="Remove">
                  <fa name="trash-o" size="2x"></fa>
              </td>
          </tr>
          <tr>
              <td data-title="Product Name">Coke</td>
              <td data-title="Quantity">5</td>
              <td data-title="Unit Price">$1.25</td>
              <td data-title="Total Price">$5.25</td>
              <td class="text-lg-center text-md-center " data-title="Remove">
                  <fa name="trash-o" size="2x"></fa>
              </td>
          </tr>
          <tr>
              <td data-title="Product Name">Coke</td>
              <td data-title="Quantity">5</td>
              <td data-title="Unit Price">$1.25</td>
              <td data-title="Total Price">$5.25</td>
              <td class="text-lg-center text-md-center" data-title="Remove">
                  <fa name="trash-o" size="2x"></fa>
              </td>
          </tr>
      </tbody>
  </table>