<div class="form-row text-danger h6">
  *Scanned item is not available, please enter the item description and price, then save it, and scan item again.
</div>
<div class="form-row p-2">
  <div class="col-md-2 col-lg-2 col-sm-12 text-md-right text-lg-right text-sm-left">
      <label class="h6">Product Name:</label>
  </div>
  <div class=" col-md-4 col-lg-4 col-sm-12">
      <input type="text" class="form-control" ngModel placeholder="Product Name" />
  </div>
</div>
<div class="form-row p-2">
  <div class="col-md-2 col-lg-2 col-sm-12 text-md-right text-lg-right text-sm-left">
      <label class="h6">Quantity:</label>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
      <input type="text" class="form-control" ngModel placeholder="Quantity" />
  </div>
</div>
<div class="form-row p-2">
  <div class="col-md-2 col-lg-2 col-sm-12 text-md-right text-lg-right text-sm-left">
      <label class="h6">Unit Price($):</label>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
      <input type="text" class="form-control" ngModel placeholder="Price" />
  </div>
</div>
<div class="form-row p-2">
  <div class="col-md-4 col-lg-4 col-sm-12 text-center">
      <button class="btn btn-success p-2">
          <fa name="save"></fa> Save</button>
      <button class="btn btn-danger p-2">
          <fa name="ban"></fa> Cancel</button>
  </div>
</div>